// 采用*{padding:0;margin:0;}这样的写法好处是写起来很简单，但是是通配符，需要把所有的标签都遍历一遍，
// 当网站较大时，样式比较多，这样写就大大的加强了网站运行的负载，会使网站加载的时候需要很长一段时间，
// 因此一般大型的网站都有分层次的一套初始化样式。

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  // -webkit-overflow-scrolling:touch // 页面滑动卡顿问题
  body {
    height: 100%;
    // -webkit-overflow-scrolling:touch // 页面滑动卡顿问题
    // font-variant-east-asian: traditional; // 转换繁体字
  }
  img {
    width: 100%;
    border: none;
    display: inline-block;
    vertical-align: middle;
    // object-fit: cover; // 保持内容的原有宽高比例进行缩放
  }
  button,
  input {
    outline: none;
  }
  ul {
    list-style: none;
  }
  input {
    -webkit-appearance: none; // ios文本框内阴影
  }
}

.flex-start {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// flex-grow属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
// flex-shrink属性定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
// flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间。浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。

// flex属性是flex-grow，flex-shrink和flex-basis的简写，默认值为0 1 auto。
//          保持最大尺寸  保持最小尺寸  最值

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content:' ';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}

// 修改 chrome 记住密码后自动填充表单的黄色背景
// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//   box-shadow: 0 1000px white inset;
//   border: none;
// }

// 中英文自动换行
// word-break:break-all; // 只对英文起作用，以字母作为换行依据
// word-wrap:break-word; // 只对英文起作用，以单词作为换行依据
// white-space:pre-wrap; // 只对中文起作用，强制换行
// white-space:nowrap; // 强制不换行，都起作用

// 如果动画执行过程中有闪烁（通常发生在动画开始的时候）
// -webkit-backface-visibility:hidden;
// -moz-backface-visibility:hidden;
// -ms-backface-visibility:hidden;
// backface-visibility:hidden;
// -webkit-perspective：1000;
// -moz-perspective：1000;
// -ms-perspective：1000;
// perspective：1000;

// 移动端
// element {
//   -webkit-touch-callout:none; // 移动端长时间按住页面出现闪退
//   -webkit-appearance: none; // iPhone及iPad下输入框的默认内阴影
//   -webkit-tap-highiight-color: rgba(255, 255, 25, 0) // 触摸元素时出现半透明灰色遮罩   
//    user-select: none; 禁止复制或者选中文本
// }